main{
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.map-container {
  height: 80vh;
  width:100%;
  display: flex;
  flex-direction: column;
}

@media (orientation: portrait) {
  .map-container {
    flex-direction: column;
  }
}

h1 {
  text-align: center;
  flex: 0.5;
}

footer {
  display: flex;
}