.card{
    border:2px black solid;
    width:50%;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  
  .card-header{
    width:100%;
    background-color:#d0d0d0;
    border-radius:15px 15px 0 0;
    display:flex;
    align-items: center;
  }

  .card-header > h3{
    flex:7;
    font-size: 30px;
  }

  .card-header > p{
    flex:1;
    font-size:70px;
  }

  .establishment-type-list, .address{
    text-align: left;
    font-size:1.2em;
  }

  .establishment-type-list {
    width: 75%;
  }

  .address{
    width:85%;
    border-bottom:2px black solid;
  }

  .inspection-card{
    width:90%;
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  .inspection-card-header{
    background-color:#e0e0e0;
    padding:5px;
    border-radius:5px;
    display:flex;
    justify-content: space-between;
    width:100%;
  }

  .inspection-deficiency-list{
    background-color:#f0f0f0;
    width:100%;
    text-align:left;
    border-radius:0 0 15px 15px
  }

  .inspection-deficiency-list > li{
    margin-left:20px;
  }

  details{
    padding-bottom: 10px;
    width: 100%;
  }

  summary{
    background: yellow;
    max-width: 158px;
    margin: auto;
  }

  .A {
    color: green;
  }

  .B {
    color: yellow;
  }

  .C {
    color: red;
  }