#controls{
    width:100%;
    display:flex;
    justify-content: center;
  }
  
  #controls > * {
    width:20%;
  }

  #grade-filter{
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  #grade-buttons{
    width:50%;
    display:flex;
    justify-content: space-around;
  }

  #grade-buttons > button{
    width:30%;
  }

  #type-buttons{
    display:flex;
    flex-direction: column;
    width:50vw;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #type-buttons label{
    display:flex;
    justify-content: space-between;
    border-top:black 1px solid;
  }

  .shaded{
    background-color: #272727;
    color: white;
  }

  #attribution{
    border:1px black solid;
    padding: 5px;
    margin:0px 5px 5px 5px;
  }